body {
    background-color: slategrey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.header img {
    width: 100px;
    height: auto;
}

.header h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 100px); /* Account for header height */
    flex-wrap: wrap;
}

.icon-container {
    width: calc(25% - 40px);
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon-container:hover {
    transform: scale(1.05);
}

.icon-container i {
    font-size: 5em;
    color: #333;
}

.icon-container p {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
}


