
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Container */
.container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Training Card */
.training-card {
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.training-card h2 {
    margin-bottom: 20px;
}

.training-card input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
}

.training-card button {
    padding: 11px 20px;
}
